# See wiki for current client_id and secret values.
#   http://wiki.htrc.illinois.edu/display/DEV/HTRC-UI-Blacklight


development:
   add_google_analytics?: false
   google_analytics_tracking_code: 'none'
   devise_key: 'DEVISE_KEY'
   devise_pepper: 'DEVISE_PEPPER'
   register_url: 'DEVELOPMENT_register_url'
   solr_proxy_meta_url: 'DEVELOPMENT_solr_proxy_meta_url'
   registry_url: 'DEVELOPMENT_registry_url'
   site_url: 'DEVELOPMENT_site_url'
   authorize_url: 'DEVELOPMENT_register_url'
   access_token_url: 'DEVELOPMENT_authorize_url'
   token_url: 'DEVELOPMENT_token_url'
   userinfo_url: 'DEVELOPMENT_userinfo_url'
   portal_url: 'DEVELOPMENT_portal_url'
   callback_url: 'DEVELOPMENT_callback_url'
   oauth2_client_id: 'DEVELOPMENT_CLIENT_ID'
   oauth2_secret: 'DEVELOPMENT_SECRET'

production:
   add_google_analytics?: true
   google_analytics_tracking_code: 'GOOGLE_TRACKING_CODE'
   devise_key: 'DEVISE_KEY'
   devise_pepper: 'DEVISE_PEPPER'
   register_url: 'PRODUCTION_register_url'
   solr_proxy_meta_url: 'PRODUCTION_solr_proxy_meta_url'
   registry_url: 'PRODUCTION_registry_url'
   site_url: 'PRODUCTION_site_url'
   authorize_url: 'PRODUCTION_register_url'
   access_token_url: 'PRODUCTION_authorize_url'
   token_url: 'PRODUCTION_token_url'
   userinfo_url: 'PRODUCTION_userinfo_url'
   portal_url: 'PRODUCTION_portal_url'
   callback_url: 'PRODUCTION_callback_url'
   oauth2_client_id: 'PRODUCTION_CLIENT_ID'
   oauth2_secret: 'PRODUCTION_SECRET'